@import "../../App.scss";

nav {
  @include flex(space-between, center, row, 0);
  width: 100%;
  height: 12vh;
  padding: 0 100px;

  
  .logo {
    img {
      height: 7vh;
    }
  }

  .menu {
    @include flex(center, center, row, 50px);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
  }
}
